@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Philosopher');

.wrapper{
    color: white;
    font-family: $main_font;
}

.title{
    font-size: 50px;
}

.sub_title{
    font-size: 30px;
    font-family: $second_font;
}

.text{
    font-size: 20px;
}

.question{
    font-size: 25px;
    font-weight: 500;
}

.answer{
    font-size: 18px;
}

.form_title{
    font-size: 30px;
}

.input_email,
.email_submit{
    font-size: 15px;
}