.about_us_wrap{
    padding-top: 60px;
    padding-bottom: 70px;
    .title{
        margin-top: 0;
        margin-bottom: 30px;
    }
    .text{
        max-width: 1000px;
        margin: 0 auto 30px;
        text-align: center;
    }
}